<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WPFZooManager.Properties.Settings.ZooConnectionString"
            connectionString="Data Source=Tiago;Initial Catalog=Zoo;Persist Security Info=True;User ID=sa;Password=suapkk12;Pooling=False;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>